?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
  <test name="Test">
      <parameter name="origin" value="SFO"> </parameter>
      <parameter name="dest" value="SJC"</parameter>
       <parameter name="origin" value="SFO"> </parameter>
      <parameter name="dest" value="NYC"</parameter> 
          <parameter name="origin" value="SFO"> </parameter>
      <parameter name="dest" value="DTW"</parameter>    
          
         
    <classes>
      <class name="Automation.Kayak.KayakHomePageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
